body {
  background-image: url("latvat.JPG");
  background-color: #cccccc;
  height: 1000px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
 #osio {
   background-image: linear-gradient(
     to right,
     rgb(92, 107, 115) 0%,
     rgb(234, 140, 85) 50%,
     rgb(92, 107, 115) 100%
   );
   width: 500px;
   position: absolute;
   left: 37%;
   height: 1000px;
 }
#osio h1, p {
  text-align: center;
}
#osio label {
  display: block;
  font-size: 20px;
  margin-bottom: 5px;
  margin-left: 70px;
}
#osio input, select {
  width: 320px;
  padding: 10px;
  font-size: 18px;
  color: #333;
  margin-bottom: 15px;
  margin-left: 70px;
}

.laatikko {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.suositteletko label {
  font-size: 18px;
}

.laatikko input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: lightgrey;
}


.laatikko:hover input ~ .checkmark {
  background-color:  rgb(92, 107, 115);
}

.laatikko input:checked ~ .checkmark {
  background-color:  rgb(92, 107, 115);
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.laatikko input:checked ~ .checkmark:after {
  display: block;
}

.laatikko .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
 select {
  font-size: 16px;
  background-color:  rgb(92, 107, 115);
  color: white;

}
.laatikkoKaks {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 24px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.parasta label {
  font-size: 18px;
}

.isompi {
  font-size: 24px;
}

.laatikkoKaks input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}


.laatikkoKaks {
  position: absolute;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: lightgrey;
  border-radius: 50%;
}

.laatikkoKaks:hover input ~ .checkmarkTwo {
  background-color: rgb(0, 114, 66);
}


.laatikkoKaks input:checked ~ .checkmarkTwo {
  background-color: rgb(0, 114, 66);
}


.laatikkoKaks:after {
  content: "";
  position: absolute;
  display: none;
}

.laatikkoKaks input:checked ~ .checkmarkTwo:after {
  display: block;
}

.laatikkoKaks .checkmarkTwo:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
