body {
  background-image: url("latvat.JPG");
  background-color: #cccccc;
  height: 1300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
 #osio {
   background-image: linear-gradient(
     to right,
     rgb(92, 107, 115) 0%,
     rgb(234, 140, 85) 50%,
     rgb(92, 107, 115) 100%
   );
   width: 500px;
   position: absolute;
   left: 30%;
   right: 30%;
   height: 1300px;
 }
#osio h1, p {
  text-align: center;
}

#nimisyotto {
  display: block;
  font-size: 20px;
  margin-bottom: 5px;
  margin-left: 70px;
}

#emailsyotto {
  display: block;
  font-size: 20px;
  margin-bottom: 5px;
  margin-left: 70px;
}

#ikasyotot {
  display: block;
  font-size: 20px;
  margin-bottom: 5px;
  margin-left: 70px;
}

#toimenkuva {
  display: block;
  font-size: 20px;
  margin-bottom: 5px;
  margin-left: 70px;
}

#suositteletko {
  display: block;
  font-size: 20px;
  margin-bottom: 5px;
  margin-left: 70px;
}

#viestikentta {
  display: block;
  font-size: 20px;
  margin-bottom: 5px;
  margin-left: 70px;
}

textarea {
  margin-left: 70px;
}

#osio input, select, textarea {
  width: 320px;
  padding: 10px;
  font-size: 18px;
  color: #333;
  margin-bottom: 15px;
  margin-left: 70px;
}

.radio {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  font-size: 18px;
}

.radio__input {
  display: none;
}

.radio__radio {
  width: 1.25em;
  height: 1.25em;
  border: solid white;
  margin-left: 70px;
  margin-bottom: 10px;
  border-radius: 50%;
  margin-right: 10px;
  box-sizing: border-box;
  padding: 1px;

}
.radio__radio::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background: rgb(92, 107, 115);
  border-radius: 50%;

  transform: scale(0);
  transition: transform 0.15s;
}

.radio__input:checked + .radio__radio::after {
    transform: scale(1);
}

.checkboxes {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
}

.box__input {
  display: none;
}

.box__box {
  width: 1.25em;
  height: 1.25em;
  border: solid white;
  margin-left: 70px;
  margin-bottom: 10px;
  margin-right: 10px;
  box-sizing: border-box;
  padding: 1px;
}

.box__box::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background: rgb(92, 107, 115);

  transform: scale(0);
  transition: transform 0.15s;
}

.box__input:checked + .box__box::after {
  transform: scale(1);
}

#laheta {
  display: block;
  margin-left: 190px;
  margin-top: 20px;
  font-size: 22px;
  background: rgb(92, 107, 115);
  color: white;
  width: 130px;
  height: 40px;
}
