body {
  background-color: grey;
  padding: 0;
  margin: 0;
  height:100%;
}
body > table {
  width: 80%;
}
table{
    border-collapse: collapse;

}
th{
    background-color: white;
}
td, th {
    border: 3px solid white;
    text-align: left;
    padding: 8px;

}
input[type=text], input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;

}
input[type=submit]{
    width: 100%;
    background-color: grey;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: 2px solid white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
form div.form-action-buttons{
    text-align: right;

}
tr,table.lista thead>tr {
    background-color: #dddddd;
}

table.lista tr:nth-child(even){
  background-color: white;
}
a{
    cursor: pointer;
    text-decoration: underline;
    color: black;
    margin-right: 4px;
}
table.center {
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 100%;
  margin: auto;
  overflow: hidden;
  position: center center;
  height: 50%;
}
#head {
background: white;
}

#eka {
  text-align: center;
}
.lomakeKuvaus {
  font-size: 16px;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  margin: 0;
}

#otsikko {
  font-size: 36px;
  color: black;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  margin: 0;
}
hr {
  margin-bottom: 0;
}
ul {
  margin:0;
  padding:0;
}
header a{
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
}
header li {
  display: inline;
  padding: 0 20px 0 20px;
}
header nav {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(204, 204, 204);
}
header .current a{
  color: white;
  font-weight: bold;
}

header a:hover {
  color: white;
  font-weight: bold;
}

#sivu {
  font-size: 30px;
  color: black;
  padding-left: 10px;
  padding-right: 10px;

  padding-bottom: 10px;
  text-align: center;
  margin: 0;
}
#kuva {
  text-align: center;
  padding-top: 30px;
}
#toka_kuva {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
}
#valitse {
  color: white;
  text-align: center;
  font-size: 32px;
  background: linear-gradient(to right, #6c757d,#adb5bd,#efea5a);
}
#tiedot {
  float: right;
  padding-right: 10px;
  padding-top: 10px;
}
#footer {
  background: white;
  bottom: 0;
  width: 100%;
}
