* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("kuvat/kuva2.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 0;
  margin: 0;
  height: 100%;

}

table{
    border-collapse: collapse;
    border-spacing: 0;

}
th{
    background-color: white;
}
td, th {
    border: 3px solid white;
    text-align: left;
    padding: 8px;

}
input[type=text], input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;

}
input[type=submit]{
    width: 100%;
    background-color: grey;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: 2px solid white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

form div.form-action-buttons{
    text-align: right;

}
tr,table.lista thead>tr {
  background: rgb(255,255,255,0.5);
  backdrop-filter: blur(9px);
}

table.lista tr:nth-child(even){
  background-color: white;
}

a {
    cursor: pointer;
    text-decoration: underline;
    color: black;
    margin-right: 4px;
}
table.center {
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: auto;
  margin: auto;
  overflow: hidden;
  height: 100%;
  position: center center;

}
#head {
  background: rgb(255,255,255,0.5);
  backdrop-filter: blur(9px);
}

#eka {
  text-align: center;
}
.lomakeKuvaus {
  font-size: 16px;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  margin: 0;
}

#otsikko {
  font-size: 34px;
  color: black;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 5px;
  text-align: center;
  margin: 0;
}
hr {
  margin-bottom: 0;
}
ul {
  margin:0;
  padding:0;
}
header a{
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
}
header li {
  display: inline;
  padding: 0 20px 0 20px;
}
header nav {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(204, 204, 204);
}

header a:hover {
  color: white;
  font-weight: bold;
}
header a.active {
  color: white;
  font-weight: bold;
}

#sivu {
  font-size: 30px;
  color: black;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 10px;
  text-align: center;
  margin: 0;
}
#kuva {
  text-align: center;
  padding-top: 30px;
}
#toka_kuva {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
}
.valitse {
  color: white;
  text-align: center;
  font-size: 22px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: linear-gradient(to right, #6c757d,#adb5bd,#efea5a);
}
#tiedot {
  float: right;
  padding-right: 10px;
  padding-top: 30px;
}


#tyomaa_lomake form {
  font-size: 24px;
  color: white;
  margin-top: 10px;
}
.lomakeTyomaa {
  margin-left: 20px;
}
.lomakeTyomaa input {
  display: inline-block;
  font-size: 24px;
  margin-bottom: 15px;
  margin-top: 5px;
}
#msg {
  margin-bottom: 10px;
  margin-top: 10px;
  resize: none;
  width: 50%;
  font-size: 24px;
}
.labelit {
  margin-top: 10px;
  margin-bottom: 10px;
}
.taulu {
  font-size: 24px;
  margin-bottom: 30px;
  margin: 5% auto;
  height: 80%;
}
.logout-tyontekijat {
  overflow: hidden;
  background-color: rgb(204, 204, 204);
}
.logout-tyontekijat a{
  width: 100%;
  font-size: 20px;
}

.ulos {
  float: right;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;

}
.clear {
  clear: both;
  height: 100px;
}
#footer {
  background: rgb(255,255,255,0.5);
  backdrop-filter: blur(10px);
  bottom: 0;
  width: 100%;
  height: 100px;
  margin-top: 30px;
  position: fixed;

}
