* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  padding: 0;
  margin: 0;
  height: 100%;
}

.taustakuva {
  width: 100%;
  height: 80%;
  background-image: url("kuvat/suora_certified.jpg");
  background-position: center;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
}
.lomake {
 width: 380px;
 height: 480px;
 position: relative;
 margin: 6% auto;
 padding: 5px;
 background: rgb(255,255,255,0.5);
 backdrop-filter: blur(9px);
 overflow: hidden;
}
.nappi-laatikko {
  width:270px;
  margin: 35px auto;
  position: relative;
  box-shadow: 0 0 20px 9px #6A040F;
  border-radius: 30px;
  background-color: #fff;
}
.toggle-button {
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline:  none;
  position: relative;
  color: black;
  font-size: 12px;
}
#btn {
  top: 0;
  left: 0;
  position: absolute;
  width: 130px;
  height: 100%;
  background: linear-gradient(to right, #6A040F,#9D0208,#D00000);
  border-radius: 30px;
  transition: .5s;
}

/* header- osion muotoilu*/
#head {
background: white;
border-bottom: 5px solid black;
border-top: 5px solid black;
}
#eka {
  text-align: center;
}
#otsikko {
  font-size: 36px;
  color: black;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 25px;
  padding-bottom: 5px;
  text-align: center;
  margin: 0;
}
#sivu {
  font-size: 30px;
  color: black;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  margin: 0;
}
#kokeilu {
  display: table;
  width: 100%;
  background-color: rgb(89, 89, 89);
}
#kokeile {
  height: 500px;
  width: 50%;
  display: table-cell;
  text-align: center;
}
#login-error-msg-holder {
  width: 100%;
  height: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
}
#login-error-msg {
  width: 23%;
  text-align: center;
  margin: 0;
  padding: 5px;
  font-size: 12px;
  font-weight: bold;
  color: #8a0000;
  border: 1px solid #8a0000;
  background-color: #e58f8f;
  opacity: 0;
}

#error-msg-second-line {
  display: block;
}

form {
  margin-top: 20px;
  text-align: left;
  font-size: 40px;
}

aside {
  height: 300px;
  width: 50%;
  display: table-cell;
  text-align: center;
}
@media (max-width: 600px){
  #kokeile {
    display: block;
    height: 400px;
    width: 100%;
  }

  aside {
    display: block;
    height: 300px;
    width: 100%;
    margin-bottom: 60px;
  }
}

#kuva {
  text-align: center;
  padding-top: 30px;
}
/* "Kirjaudu sisään"- tekstin muotoilu */

/* Työntekijöiden ja hallinnan kirjautumisosion muotoilu */


/* lomakkeiden muotoilu */


button:hover {
  font-weight: bold;
}

/*
Tekstikenttien muotoilu
*/
.kentat {
  top: 130px;
  position: absolute;
  width: 300px;
  transition: .5s;
}

.tekstikentta {
  color: black;
  font-size: 18px;
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid black;
  outline: none;
  background: transparent;
}
/*
Kirjaudu sisään- painikkeen muotoilu
 */
.submit-btn {
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: linear-gradient(to right, #6A040F,#9D0208,#D00000);
  color: white;
  border: 0;
  outline: none;
  border-radius: 30px;
}

.checkbox {
  margin: 30px 10px 30px 0;
}

span {
  color: #495057;
  font-size: 16px;
  bottom: 68px;
}
#tyo {
 left: 50px;
}
#hallinta {
  left: 450px;
}

#footer {
  background: white;
  bottom: 0;
  width: 100%;
  height: 100px;
  border-top: 5px solid black;
}
#tiedot {
  float: right;
  padding-right: 10px;
  padding-top: 30px;
}
