* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  padding: 0;
  margin: 0;
  height: 100%;
  background-image: url("kuvat/kuva2.jpg");
  background-position: center center;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.taustakuva {
  width: 100%;
  height: 80%;
}

.lomake {
 width: 380px;
 height: 430px;
 position: relative;
 margin: 5% auto;
 padding: 5px;
 background: rgb(255,255,255,0.5);
 backdrop-filter: blur(9px);
 overflow: hidden;

}
.nappi-laatikko {
  width:270px;
  margin: 35px auto;
  position: relative;
  box-shadow: 0 0 15px 4px #efea5a;
  border-radius: 30px;
  background-color: #fff;
}

/* header- osion muotoilu*/
#head {
  background: rgb(255,255,255,0.5);
  backdrop-filter: blur(9px);
}

#otsikko {
  font-size: 36px;
  color: black;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 25px;
  padding-bottom: 5px;
  text-align: center;
  margin: 0;
}
#sivu {
  font-size: 30px;
  color: black;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  margin: 0;
}
/*
Työntekijät/Hallinta- painikkeen muotoilu
 */
#btn {
  top: 0;
  left: 0;
  position: absolute;
  width: 140px;
  height: 100%;
  background: linear-gradient(to right, #6c757d,#adb5bd,#efea5a);
  border-radius: 30px;
  transition: .5s;
}
.toggle-button {
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline:  none;
  position: relative;
  color: black;
  font-size: 12px;
}
/*
Tekstin lihavointi, kun hiirellä osoitetaan painikkeita
 */
button:hover {
  font-weight: bold;
}

/*
Tekstikenttien muotoilu
*/
.kentat {
  top: 130px;
  position: absolute;
  width: 300px;
  transition: .5s;
}

.tekstikentta {
  color: black;
  font-size: 18px;
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #343A40;
  outline: none;
  background: transparent;
}
/*
Tekstikenttien placeholder- osioiden väri
*/
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #343A40;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #343A40;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #343A40;
}
/*
Valinta- painikkeen muotoilua
*/
.checkbox {
  margin: 30px 10px 30px 0;
}

span {
  color: #343A40;
  font-size: 16px;
  bottom: 68px;
}
/*
Kirjaudu sisään- painikkeen muotoilu
 */
.submit-btn {
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: linear-gradient(to right, #6c757d,#adb5bd,#efea5a);
  color: white;
  border: 0;
  outline: none;
  border-radius: 30px;
}
/*
Lomakkeelta toiselle vaihtamista varten
*/
#tyontekijat {
 left: 50px;
}
#hallinta {
  left: 450px;
}
/*
Footer- osion muotoilua, ensin logo ja sitten yrityksen tiedot
*/
#footer {
  background: rgb(255,255,255,0.5);
  backdrop-filter: blur(9px);
  bottom: 0;
  width: 100%;
  height: 100px;
  margin-top: 30px;
  position: fixed;
}
#tiedot {
  float: right;
  padding-right: 10px;
  padding-top: 30px;
}
