#yksi {
  background-color: orange;
}
#kaksi {
  background-color: #FFCCCC;
}
.vieri {
  width: 500px;
  padding: 10px;
  margin: 10px;
  margin-right: 10px;
  float:left;
}
#kolme {
  background-color: #FFFF99;
}
#neljä {
  background-color: #B3FFB3;
}
#viisi {
    background-color: #B3D1FF;
}
#kuusi {
   background-color: #9DF9EF;
}
#seiska {
  background-color: #EDF7F6;
}
#kasi {
  background-color: #FFA8B5;
}
#ysi {
  background-color:  #d0bdf4;
}
#kymppi {
  background-color: #fceed1;
}
#yytoo {
  background-color:  #39a0ca;
}
